#headbox {
  color: purple;
  border: 5px solid green;
  padding: 4px;
  background-color: skyblue;
  text-align: center;

}

#row1 {
  margin: 15px;
  padding: 4px;
}

.toppic {
  height: 160px; 
  width: 125px;
  text-align: center;
}

.projpic {

}

body {
  background-color: honeydew;
}

.panel {
  color: purple;
}

.panel h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  font-weight: 800;
  color: purple;
}

.panel > .panel-heading {
  text-align: center;
  background-color: cyan;
  border-bottom-width: 5px;
  border-bottom-color: blue;
}

.panel-default {
  background-color: lightcyan;
  border: 5px solid blue;
}

.panel-body p {
  padding-left: 10px;
  float: inherit;
  text-align: center;
  align-items: center;
}

.panel-body ul {
  float: right;
  list-style: disc;
}

#facepicpanel {
  text-align: center;
}

.faves img {
  height: 100px; 
  width: 80px;
  padding: 10px;
}

.faves ol{
  padding-left: 14px;
  text-align: justify;
  font-size: 15px;
  float: inherit;
}
.project {
  align-content: center;
  width: 164px;
  float: none;
  border: 2px solid black;

}

.project p {
  text-align: center;
  padding-left: 0%;
}
.project h3 {
  font-size: small;
  text-align: center;
  line-height: normal;
  padding-top: 0%;
  margin-top: 5%;

}

.project img {
  padding: 0%;
  margin: 0%;
  float: none;
  height: 125px;
  width: 161px;
  border: 1px solid black;
  border-left: none;
}

#roww {
  align-items: center;
}

